{% extends "index.html" %}
{% block content %}

<form action="" method="POST">

    <label for="choosen">Wybierz walutę: </label>
    <select ID="choosen" name="choosen">
        <option selected="selected">{{ choose }}</option>
        {% for item in items %}
        <option value="{{ item }}">{{item}}</option>
        {% endfor %}
    </select>
    

    <p><label for="amount">Ilość: </label>
    <input class="wid" type="text" id="amount" name="amount" placeholder=" {{ amount }} "></p>

    <p><label for="exchange">Wynik (PLN): </label>
    </td><input class="wid" name="rate" placeholder=" {{ rate }} "></p>

    <p class="wid"><input type="submit" value="Przelicz"></p>

</form>

{% endblock %}